@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    @apply glassmorphism-25 p-3 md:p-6 rounded-lg;
  }

  .btn-home {
    @apply shadow-lg
    bg-secondary
    text-primary
    w-full
    mx-8
    h-20
    text-lg
    flex flex-col
    justify-center
    items-center
    mb-4
    rounded-lg
    hover:opacity-50;
  }
  .btn_auth {
    @apply appearance-none
    block
    w-full
    px-3
    py-2
    border border-gray-300
    rounded-md
    placeholder-gray-400
    focus:outline-none
    focus:ring-black
    focus:border-blue-300
    transition
    duration-150
    ease-in-out
    sm:text-sm
    sm:leading-5;
  }
  .btn-form {
    @apply flex
    justify-center
    py-2
    px-4
    border border-transparent
    text-sm
    rounded-md
    text-primary
    bg-secondary
    hover:bg-indigo-500
    focus:outline-none
    focus:border-indigo-700
    focus:ring-indigo-600
    transition
    duration-150
    ease-in-out
    font-bold
    shadow-lg
    w-1/2;
  }
  .selectForm {
    @apply block
            appearance-none
            w-full
            bg-primary
            border border-gray-200
            text-secondary
            py-3
            px-4
            pr-8
            rounded
            leading-tight
            focus:outline-none
            focus:bg-secondary
            focus:border-gray-500;
  }
}

:root {
  @apply light;
}

.dark {
  --color-bg-primary: #17224d;
  --color-bg-secondary: #022177;
  --color-text-primary: #cccccc;
  --color-text-secondary: #9ca3af;
  --color-text-accent: #475886;
}

.light {
  --color-bg-primary: #f5fafa;
  --color-bg-secondary: #17e9e1;
  --color-text-primary: #171718;
  --color-text-secondary: #6b7280;
  --color-text-accent: #1d4ed8;
}
